services:
 frontend:
  build:
   context: ./frontend
   dockerfile: Dockerfile
  ports:
   - '5173:5173'
  volumes:
   - ./frontend:/app
   - /app/node_modules
  environment:
   - CHOKIDAR_USEPOLLING=true

 backend:
  build:
   context: ./backend
   dockerfile: Dockerfile
  ports:
   - '8080:8080'
  volumes:
   - ./backend:/app
